.add-account-form
  .currency-title
    line-height 38px

  .select2-container .select2-choice, .select2-container .select2-choice > .select2-chosen, .select2-search, .select2-search input, .select2-container-multi .select2-choices
    height 38px !important
    line-height 38px !important

   .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .select2-drop, .select2-drop.select2-drop-above, .select2-container .select2-choice .select2-arrow, .select2-search input, .select2-dropdown-open .select2-choice, .select2-container-multi .select2-choices .select2-search-choice
     border-radius 0 !important;

.parent-operations
  table.accounts tbody td
    line-height 30px